# ... yes I should have formulated my test cases on a better standard.
*.DS_Store
*input.txt
*input-1.txt
*input-2.txt
*example.txt
*example1.txt
*example2.txt
*example3.txt
*example4.txt
*example01.txt
*example02.txt
*example03.txt
*example04.txt
*example05.txt
*example-01.txt
*example-02.txt
*example-03.txt
*example-04.txt
*example-1.txt
*example-2.txt
*example-3.txt
*example-4.txt
*example-5.txt
*example-01test.txt
*exampleSimple.txt
*example-small-1.txt
*example-small-2.txt
*example-small-3.txt
*test-01.txt
*input-from-reddit.txt
*2023-input-1-example2-test.txt
*bin/
*obj/
*.vscode
*output.txt